@model TestCard.Web.Models.CompanyModel

<div class="x-form-container">
    <span class="header">@GeneralResource.Company</span>
    <div class="top-actions">
        @Html.ActionLink(GeneralResource.BackToList, "List")
    </div>
    <div class="form-inner">
        <table class="x-form">
            <tr>
                <td>
                    <fieldset>
                        <legend></legend>
                        <table class="x-details-table">
                            <tr>
                                <td>@Html.DisplayNameFor(x => x.IDNo)</td>
                                <td>@Html.DisplayFor(x => x.IDNo)</td>
                            </tr>
                            <tr>
                                <td>@Html.DisplayNameFor(x => x.CompanyName)</td>
                                <td>@Html.DisplayFor(x => x.CompanyName)</td>
                            </tr>
                            <tr>
                                <td>@Html.DisplayNameFor(x => x.Address)</td>
                                <td>@Html.DisplayFor(x => x.Address)</td>
                            </tr>
                            <tr>
                                <td>@Html.DisplayNameFor(x => x.Phone)</td>
                                <td>@Html.DisplayFor(x => x.Phone)</td>
                            </tr>
                            <tr>
                                <td>@Html.DisplayNameFor(x => x.AccreditationScope)</td>
                                <td>@Html.DisplayFor(x => x.AccreditationScope)</td>
                            </tr>
                            <tr>
                                <td>@Html.DisplayNameFor(x => x.AccreditationNumber)</td>
                                <td>@Html.DisplayFor(x => x.AccreditationNumber)</td>
                            </tr>
                            <tr>
                                <td>@Html.DisplayNameFor(x => x.AccreditationExpireDate)</td>
                                <td>@Html.DisplayFor(x => x.AccreditationExpireDate)</td>
                            </tr>
                        </table>
                    </fieldset>
                </td>
                <td>
                    <fieldset>
                        <legend></legend>
                        <ol>
                            <li>
                                <label for="file">@GeneralResource.CompanyLogo</label>
                                <img class="x-picture-area" src="@Url.ImageUrl(Model.FileName)" />
                            </li>
                        </ol>
                    </fieldset>
                </td>
            </tr>
        </table>
        <span class="header">@GeneralResource.CompanyUsers</span>
        @{ Html.RenderPartial("_AjaxList", new AjaxListModel
           {
               ActionName = "Person",
               RouteValues = new { companyID = Model.CompanyID }
           }); }
    </div>
</div>
