@model TestCard.Web.Models.PersonScheduleModel

<table class="x-table x-schedule readonly">
    <tr>
        <th rowspan="2">@GeneralResource.Day</th>
        <th colspan="2">@GeneralResource.WorkHours</th>
        <th colspan="2">@GeneralResource.BreakHours</th>
    </tr>
    <tr>
        <th>@GeneralResource.From</th>
        <th>@GeneralResource.To</th>
        <th>@GeneralResource.From</th>
        <th>@GeneralResource.To</th>
    </tr>
    @for (var i = 0; i < Model.Days.Count; i++)
    {
        <tr>
            <td>
                @Model.Days[i].WeekDayName
                @Html.HiddenFor(x => x.Days[i].WeekDayNumber)
            </td>
            <td>
                @Html.DisplayFor(x => x.Days[i].StartTime)
            </td>
            <td>@Html.DisplayFor(x => x.Days[i].EndTime)
            </td>
            <td>@Html.DisplayFor(x => x.Days[i].BreakStartTime)
            </td>
            <td>@Html.DisplayFor(x => x.Days[i].BreakEndTime)
            </td>
        </tr>
    }
</table>
