@model TestCard.Web.Models.RegisterModel

<table class="x-form">
    <tr>
        <td>
            @Html.HiddenFor(x => x.PersonID)
            <fieldset>
                <legend>@GeneralResource.General</legend>
                <ol>
                    <li>
                        @Html.LabelFor(x => x.IDNo)
                        @Html.DisplayFor(x => x.IDNo)
                    </li>
                    <li>
                        @Html.LabelFor(x => x.FirstName)
                        @Html.DisplayFor(x => x.FirstName)
                    </li>
                    <li>
                        @Html.LabelFor(x => x.LastName)
                        @Html.DisplayFor(x => x.LastName)
                    </li>
                    <li>
                        @Html.LabelFor(x => x.AccountTypeName)
                        @Html.DisplayFor(x => x.AccountTypeName)
                    </li>
                </ol>
            </fieldset>
        </td>
        <td>
            <fieldset>
                <legend>@GeneralResource.ContactInformation</legend>
                <ol>
                    <li>
                        @Html.LabelFor(x => x.Email)
                        @Html.DisplayFor(x => x.Email)
                    </li>
                    <li>
                        @Html.LabelFor(x => x.Mobile)
                        @Html.DisplayFor(x => x.Mobile)
                    </li>
                    <li>
                        @Html.LabelFor(x => x.CompanyName)
                        @Html.DisplayFor(x => x.CompanyName)
                    </li>
                </ol>
            </fieldset>
        </td>
    </tr>
</table>
