@model TestCard.Web.Models.RegisterModel

<table class="x-form">
    <tr>
        <td>
            @Html.HiddenFor(x => x.PersonID)
            <fieldset>
                <legend>@GeneralResource.General</legend>
                <table class="x-details-table">
                    <tr>
                        <td>@Html.DisplayNameFor(x => x.IDNo)</td>
                        <td>@Html.DisplayFor(x => x.IDNo)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(x => x.FirstName)</td>
                        <td>@Html.DisplayFor(x => x.FirstName)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(x => x.LastName)</td>
                        <td>@Html.DisplayFor(x => x.LastName)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(x => x.AccountTypeName)</td>
                        <td>@Html.DisplayFor(x => x.AccountTypeName)</td>
                    </tr>
                </table>
            </fieldset>
        </td>
        <td>
            <fieldset>
                <legend>@GeneralResource.ContactInformation</legend>
                <table class="x-details-table">
                    <tr>
                        <td>@Html.DisplayNameFor(x => x.Email)</td>
                        <td>@Html.DisplayFor(x => x.Email)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(x => x.Mobile)</td>
                        <td>@Html.DisplayFor(x => x.Mobile)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(x => x.CompanyName)</td>
                        <td>@Html.DisplayFor(x => x.CompanyName)</td>
                    </tr>
                </table>
            </fieldset>
        </td>
    </tr>
</table>
