@model TestCard.Web.Models.TestingCardModel

@{
    ViewBag.Title = "Add";
}
<div class="x-form-container f-tabs">
    <span class="header">@GeneralResource.TestCard</span>
    <div class="top-actions">
        @Html.ActionLink(GeneralResource.BackToList, "List")
        <a href="#card" class="f-tab active">@GeneralResource.TestCard</a>
        <a href="#images" class="f-tab">@GeneralResource.Images</a>
    </div>
    <div class="form-inner">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="f-tab-content">
                <div id="card">
                    @Html.EditorForModel()
                </div>
                <div id="images">
                    @{ Html.RenderPartial("_MultUpload"); }
                    <div class="x-img-list">
                        <ul>
                            @foreach (var item in Model.Images)
                            {
                                <li>
                                    <img src="@Url.ImageUrl(item)" />
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="x-actions">
                <input type="submit" value="@GeneralResource.Save" />
                @Html.ActionLink(GeneralResource.Cancel, "List")
            </div>
        }
    </div>
</div>
@section scripts
{
    @Scripts.Render("~/Scripts/mult-upload.js")
    @Scripts.Render("~/Scripts/geokbd.js")
    @Scripts.Render("~/Scripts/testing-card.js")
    <script type="text/javascript">
        $(function () {
            setupTestingCard({
                brands: '@Url.Action("GetBrands", "Ajax")',
                models: '@Url.Action("GetModels", "Ajax")'
            });
        });
    </script>
}