@model TestCard.Web.Models.TestingCardModel

@{
    ViewBag.Title = "Add";
}
<div class="x-form-container">
    <span class="header">@GeneralResource.TestCard</span>
    <div class="top-actions">
        @Html.ActionLink(GeneralResource.Back, "List")
    </div>
    <div class="form-inner">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.EditorForModel()
            <div class="x-actions">
                <input type="submit" value="@GeneralResource.Save" />
                @Html.ActionLink(GeneralResource.Cancel, "List")
            </div>
        }
    </div>
</div>
