@model TestCard.Web.Models.TestingCardChangeRequestModel

@{
    ViewBag.Title = "Edit";
}
<div class="x-form-container">
    <span class="header">@GeneralResource.TestCard</span>
    <div class="top-actions">
        @Html.ActionLink(GeneralResource.BackToList, "List")
        @Html.ActionLink(GeneralResource.TestCard, "Edit", ViewContext.RouteData.Values, new { @class = "active" })
        @Html.ActionLink(GeneralResource.Images, "AddImages", ViewContext.RouteData.Values)
        @{ Html.RenderPartial("_FormActions", new List<ActionButton> {
            new ActionButton
            {
                Controller = "Print",
                Action = "TestingCard",
                ObjectID = Model.TestingCardID,
                Type = ActionButton.ActionTypes.Print,
                Target = "_blank"
            }
            }); }
    </div>
    <div class="form-inner">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.EditorForModel()
            <div class="x-actions">
                <input type="submit" value="@GeneralResource.Save" />
                @Html.ActionLink(GeneralResource.Cancel, "List")
            </div>
        }
    </div>
</div>
@section scripts
{
    @Scripts.Render("~/Scripts/geokbd.js");
    <script type="text/javascript">
        window.GeoKBD.map({ fields: 'OwnerName' });
    </script>
}