@model ActionBar

<ul class="x-action-bar">
    @{
        var perm = ViewBag.Permissions[Model.EntityObject];
    }
    @foreach (var item in Model.Items)
    {
        switch (item.Type)
        {
            case ActionButton.ActionTypes.Add:
                if (!perm.HasFlag(TestCard.Domain.Permissions.Add))
                {
                    continue;
                }
                break;
            case ActionButton.ActionTypes.Edit:
                if (!perm.HasFlag(TestCard.Domain.Permissions.Edit))
                {
                    continue;
                }
                break;
            case ActionButton.ActionTypes.Delete:
                if (!perm.HasFlag(TestCard.Domain.Permissions.Delete))
                {
                    continue;
                }
                break;
            case ActionButton.ActionTypes.Print:
                break;
            default:
                break;
        }
        <li>
            @if (item.RequestType == ActionButton.RequestTypes.GET)
            {
                <a href="@item.Url" class="item @item.Type.ToString().ToLower()"@(item.Target != null ? string.Format("target=\"{0}\"", item.Target) : string.Empty)>@item.Text</a>
            }
            else
            {
                <form action="@item.Url" method="post">
                    <input type="submit" value="@item.Text" class="item @item.Type.ToString().ToLower()" />
                </form>
            }
        </li>   
    }
</ul>
