<div id="header">
    <div class="x-top-section">
        @{ Html.RenderAction("UserOptions", "Home"); }
    </div>
    <ul class="x-toolbar">
        @if (ViewBag.Permissions[TestCard.Domain.Objects.Statistics].HasFlag(TestCard.Domain.Permissions.View))
        {
            <li>@Html.Partial("_ToolbarButton", new TestCard.Web.Models.ToolbarButton
                                       {
                                           ButtonType = "stats",
                                           Text = GeneralResource.Statistics,
                                           Url = Url.Action("Index", "Statistics")
                                       })
            </li>
        }
        @if (ViewBag.Permissions[TestCard.Domain.Objects.Company].HasFlag(TestCard.Domain.Permissions.View))
        {
            <li>@Html.Partial("_ToolbarButton", new TestCard.Web.Models.ToolbarButton
                                       {
                                           ButtonType = "company",
                                           Text = GeneralResource.Company,
                                           Url = Url.Action("List", "Company")
                                       })
            </li>
        }
        @if (ViewBag.Permissions[TestCard.Domain.Objects.Person].HasFlag(TestCard.Domain.Permissions.View))
        {
            <li>@Html.Partial("_ToolbarButton", new TestCard.Web.Models.ToolbarButton
                                       {
                                           ButtonType = "users",
                                           Text = GeneralResource.Users,
                                           Url = Url.Action("List", "Person")
                                       })</li>
        }
        @if (ViewBag.Permissions[TestCard.Domain.Objects.PersonChangeRequest].HasFlag(TestCard.Domain.Permissions.View))
        {
            <li>@Html.Partial("_ToolbarButton", new TestCard.Web.Models.ToolbarButton
                                       {
                                           ButtonType = "user-edit",
                                           Text = GeneralResource.EditRequest,
                                           Type = TestCard.Web.Models.ToolbarButton.TextType.Multiline,
                                           Url = Url.Action("List", "PersonChangeRequest")
                                       })</li>
        }
        @if (ViewBag.Permissions[TestCard.Domain.Objects.TestingCard].HasFlag(TestCard.Domain.Permissions.View))
        {
            <li>@Html.Partial("_ToolbarButton", new TestCard.Web.Models.ToolbarButton
                                       {
                                           ButtonType = "card",
                                           Text = GeneralResource.TestCard,
                                           Type = TestCard.Web.Models.ToolbarButton.TextType.Multiline,
                                           Url = Url.Action("List", "TestingCard")
                                       })</li>
        }
        @if (ViewBag.Permissions[TestCard.Domain.Objects.TestingCardChangeRequest].HasFlag(TestCard.Domain.Permissions.View))
        {
            <li>@Html.Partial("_ToolbarButton", new TestCard.Web.Models.ToolbarButton
                                       {
                                           ButtonType = "card-edit",
                                           Text = GeneralResource.EditRequest,
                                           Type = TestCard.Web.Models.ToolbarButton.TextType.Multiline,
                                           Url = Url.Action("List", "TestingCardChangeRequest")
                                       })</li>
        }
    </ul>
</div>
