<div id="header">
    <div class="x-top-section">
        @{ Html.RenderAction("UserOptions", "Home"); }
    </div>
    <ul class="x-toolbar">
        <li>@Html.Partial("_ToolbarButton", new TestCard.Web.Models.ToolbarButton
                                       {
                                           ButtonType = "company",
                                           Text = GeneralResource.Company,
                                           Url = "/Company/List"
                                       })
        </li>
        <li>@Html.Partial("_ToolbarButton", new TestCard.Web.Models.ToolbarButton
                                       {
                                           ButtonType = "users",
                                           Text = GeneralResource.Users,
                                           Url = "/Person/List"
                                       })</li>
        <li>@Html.Partial("_ToolbarButton", new TestCard.Web.Models.ToolbarButton
                                       {
                                           ButtonType = "user-edit",
                                           Text = GeneralResource.EditRequest,
                                           Type = TestCard.Web.Models.ToolbarButton.TextType.Multiline,
                                           Url = "/PersonChangeRequest/List"
                                       })</li>
        <li>@Html.Partial("_ToolbarButton", new TestCard.Web.Models.ToolbarButton
                                       {
                                           ButtonType = "card",
                                           Text = GeneralResource.TestCard,
                                           Type = TestCard.Web.Models.ToolbarButton.TextType.Multiline,
                                           Url = "/TestingCard/List"
                                       })</li>
        <li>@Html.Partial("_ToolbarButton", new TestCard.Web.Models.ToolbarButton
                                       {
                                           ButtonType = "card-edit",
                                           Text = GeneralResource.EditRequest,
                                           Type = TestCard.Web.Models.ToolbarButton.TextType.Multiline,
                                           Url = "/Person/List"
                                       })</li>
    </ul>
</div>
