@model TestCard.Web.Models.PersonModel
@{
    ViewBag.Title = "Edit";
}
<div class="x-form-container">
    <span class="header">@GeneralResource.User</span>
    <div class="top-actions">
        @Html.ActionLink(GeneralResource.Back, "List")
        @Html.ActionLink(GeneralResource.WorkSchedule, "Edit", "PersonSchedule", new { id = Model.PersonID }, null)
    </div>
    <div class="form-inner">
        @using (Html.BeginForm())
        {
            @Html.EditorForModel()
            <div class="x-actions">
                <input type="submit" value="@GeneralResource.Save" />
                @Html.ActionLink(GeneralResource.Cancel, "List")
            </div>
        }
    </div>
</div>
