@model TestCard.Web.Models.PersonScheduleModel

@{
    ViewBag.Title = "Edit";
}
<div class="x-form-container">
    <span class="header">@GeneralResource.WorkSchedule</span>
    <div class="top-actions">
        @Html.ActionLink(GeneralResource.BackToList, "List", "Person")
        @Html.ActionLink(GeneralResource.User, "Edit", "Person", ViewContext.RouteData.Values, null)
        @Html.ActionLink(GeneralResource.WorkSchedule, "Edit", "PersonSchedule", ViewContext.RouteData.Values, new { @class = "active" })
    </div>
    <div class="form-inner">
        @using (Html.BeginForm())
        {
            @Html.EditorForModel()
            <div class="x-actions">
                <input type="submit" value="@GeneralResource.Save" />
                @Html.ActionLink(GeneralResource.Cancel, "List")
            </div>
        }
    </div>
</div>
