@model TestCard.Web.Models.PersonScheduleModel

@{
    ViewBag.Title = "Edit";
}
<div class="x-form-container">
    <span class="header">@GeneralResource.User</span>
    <div class="top-actions">
        <a href="@Request.UrlReferrer.OriginalString">@GeneralResource.Back</a>
    </div>
    <div class="form-inner">
        @using (Html.BeginForm())
        {
            @Html.EditorForModel()
            <div class="x-actions">
                <input type="submit" value="@GeneralResource.Save" />
                @Html.ActionLink(GeneralResource.Cancel, "List")
            </div>
        }
    </div>
</div>
