@model TestCard.Web.Models.PersonScheduleModel

@{
    ViewBag.Title = "View";
}
<div class="x-form-container">
    <span class="header">@GeneralResource.WorkSchedule</span>
    <div class="top-actions">
        @Html.ActionLink(GeneralResource.BackToList, "List", "Person")
        @Html.ActionLink(GeneralResource.User, "View", "Person", ViewContext.RouteData.Values, null)
        @Html.ActionLink(GeneralResource.WorkSchedule, "View", "PersonSchedule", ViewContext.RouteData.Values, new { @class = "active" })
    </div>
    <div class="form-inner">
        @Html.DisplayForModel()
    </div>
</div>
