@model IEnumerable<TestCard.Web.Models.PersonChangeRequestListModel>
@{ Html.RenderPartial("_ChangeRequestFilter", new AjaxListModel { ActionName = "PersonChangeRequest" }); }
<div class="x-table-cont">
    <table class="x-table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AdministratorConfirmStatusName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QualityManagerConfirmStatusName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResponsiblePersonFullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonFullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AdministratorConfirmStatusName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QualityManagerConfirmStatusName)
                </td>
                <td>
                    @Html.ActionLink(item.ResponsiblePersonFullName, "View", "Person", new { @id = item.ResponsiblePersonID }, null)
                </td>
                <td>
                    @Html.ActionLink(item.PersonFullName, "View", "Person", new { @id = item.PersonID }, null)
                </td>
                <td>
                    @item.CreateDate.Value.ToString(TestCard.Properties.Config.DateFormat)
                </td>
                @{ Html.RenderPartial("_RequestActionCell", new TestCard.Web.Models.RequestActionsModel
                {
                    Action = "ProcessRequest",
                    Controller = "PersonChangeRequest",
                    RequestID = item.PersonChangeRequestID,
                    ProcessedByQualityManager = item.ProcessedByQualityManager,
                    ProcessedByAdministrator = item.ProcessedByAdministrator
                }); }
            </tr>
        }
    </table>
</div>
@{Html.Pager((IPagedList)Model, "PersonChangeRequest", "PersonChangeRequest");}